img.img-fluid.aboutImg {max-width: 100%;height: auto;}
.clear {clear: both;}
.details-container {position: relative;display: flex;}
.about {margin-left: 30px;}
.d-flex.hidden-extra-pagination .hidden.sm\:flex-1.sm\:flex.sm\:items-center.sm\:justify-between {display: none;}
.d-flex.hidden-extra-pagination span.relative.z-0.inline-flex.shadow-sm.rounded-md {display: none;}
.d-flex.hidden-extra-pagination nav.flex.items-center.justify-between {margin-bottom: 25px;}
img.card-img-top.post-img {width: 50%;}
.container.content-center {margin: 0 auto;text-align: center;}
.col-xs-12.col-sm-12.col-md-12.col-lg-12.outer{padding: 0 20% 0 20%;}
.margin-top-25 {margin-top: 25px;margin-bottom: 25px;}
.form-group .form-control:focus {box-shadow: none;border-width: 0 0 2px 0;border-color: #000;}
.btn-mod.btn-large.mybtn {height: auto;padding: 13px 52px;font-size: 15px;}
.btn-mod.btn-border.mybtn {color: #000000;border: 1px solid #000000;background: transparent;}
.btn-mod, a.btn-mod.mybtn {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding: 4px 13px;color: #fff;background: rgba(34,34,34, .9);border: 1px solid transparent;font-size: 11px;font-weight: 400;text-transform: uppercase;text-decoration: none;letter-spacing: 2px;border-radius: 0;}
.btn-mod.btn-border.mybtn:hover, .btn-mod.btn-border:active, .btn-mod.btn-border:focus, .btn-mod.btn-border:active:focus {color: #fff;border-color: #000;background: #000;outline: none;}
.form-group.ace .form-control {-webkit-box-shadow: none;border-style: none none solid none;}
ul.nav.navbar-nav.navbar-right.loginarea li a {text-decoration: none;color: rgba(255,255,255,.55);}
ul.nav.navbar-nav.navbar-right.loginarea {margin-top: 7px;margin-left: -7px;}
ul.dropdown-menu a {color: black !important;}
